{% extends 'base.html.twig' %}

{% block body %}

<h1>Formulaire pays</h1>

<form action="" method="POST">
<input type="text" name="name" placeholder="nom">
<input type="text" name="population" placeholder="population">
<button class=btn btn-primary>submit</button>
</form>
{% endblock %}