{% extends 'base.html.twig' %}

{% block body %}

<h1>Formulaire city</h1>

<form action="" method="POST">
<input type="text" name="name" placeholder="city">
<input type="text" name="mayor" placeholder="mayor">

<button class=btn btn-primary>submit</button>
</form>
{% endblock %}